<!-- <ng-container  #actualizarReview> -->
  <div class="dialog">
    <h1 mat-dialog-title>Proveedor</h1>
    <div mat-dialog-content>
      <form class="form" [formGroup]="formActualizarProveedor"> <!--(ngSubmit)="calificar()"-->
        <div class="formulario">
          <div class="input">
            <input type="text" id="nombre" class="fomr-control" formControlName="nombre">
            <div class="alert alert-danger mt-2" [hidden]="nombre.dirty || nombre.untouched">
              El nombre es obligatorio.
            </div>
          </div>
          <div class="input">
            <input type="number" id="telefono" class="fomr-control" formControlName="telefono">
            <div class="alert alert-danger mt-2" [hidden]="nombre.dirty || nombre.untouched">
              El telefono es obligatorio.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close [disabled]="formActualizarProveedor.invalid"
        (click)="actualizarProveedor()">Actualizar</button>
      <button mat-button mat-dialog-close>Cerrar</button>
    </div>
  </div>
  <!-- </ng-container> -->

