<div id="contenedor">
  <form class="form" [formGroup]="formLoginUsuario" (ngSubmit)="login()"> <!--(ngSubmit)="crearPersona()"-->
    <div class="formulario">
      <div class="input">
        <h1>Login</h1>
      </div>
      <div class="input">
        <label>Email</label>
        <input type="email" class="fomr-control" formControlName="email">
      </div>
      <div class="input">
        <label>Password</label>
        <input type="password" class="fomr-control" formControlName="password">
      </div>
      <div class="button">
        <!-- <input type="submit" value="Crear"> -->
        <button type="submit">Iniciar Sesión</button>
      </div>
    </div>
  </form>

</div>

